root = true

[*]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_require_accessibility_modifiers = always:warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_readonly_field = true:warning
nullable_reference_types = enable

# Nullability / null-forgiving hygiene
dotnet_diagnostic.CS8618.severity = warning
dotnet_diagnostic.CS8625.severity = warning

[*.{json,yml,yaml}]
indent_size = 2

[*.csproj]
indent_size = 2
